#board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.cell{
  width: 100px;
  height: 100px;
  background: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 60px;
}

#info{
  position: absolute;
  top: 50px;
  right: 50px;
}

#info p{
  margin: 0;
}